body{

  background-color: purple;
  color: white;
  text-align: center;

}

header{

  background-color: gray;
  height: 100px;
  margin: 15px;

}

div{

  background-color: gray;
  margin: 15px;

}

h1{

  margin-left: 50px;  


}

h2{

    margin-left: 50px;  
  
  }

p{

  margin: 50px;
  font-size: 20px;


}